.success-stories-container {
    margin-top: 8%;
}

.success-stories-title {
    font-size: 24px;
    font-weight: lighter;
    color: white; /* Make the title text white */
}

.success-stories-image {
    object-fit: contain;  /* Ensures the image covers the area without distorting */
    max-width: 100%;     /* Ensures the image is responsive and doesn't overflow */
    height: auto;        /* Adjusts height automatically based on width */
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Ensure transition works in both directions */
}

.success-stories-link {
    text-decoration: none; /* Remove link styles */
}

.success-stories-info p {
    font-style: italic;
    color: white !important; /* Ensure the title is white and override any other color */
}

.success-stories-info h5,h6 {
    font-weight: lighter;

    color: white; /* Ensure the name is white */
}

.success-stories-info p {
    font-weight: lighter;

    color: white; /* Ensure the title is white */
}

.success-stories-row {
    margin-top: 2px;
    margin-bottom: 2px;
    column-gap: 0; /* reduce horizontal space */
    row-gap: 2rem;    /* keep vertical space if you want */
}
.success-stories-image:hover {
    transform: scale(1.25); /* Scale up on hover */
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

@media (max-width: 768px) {
    .success-stories-image {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .success-stories-image.in-view {
        transform: scale(1.05); /* Slight zoom on scroll */
    }
}