@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');.nav-link
  .nav-link {
    color: white !important;
    text-decoration: none;
  }

  .nav-link.active {
    text-decoration: underline;
  }