@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

.nav-link {
    color: white !important;
    text-decoration: none;
}

.nav-link.active {
    text-decoration: underline;
    text-underline-offset: 15px;
}


.reply-form-container input::placeholder,
.reply-form-container textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);  /* Light gray color */
    opacity: 1; /* Ensure full visibility */
}

@media (max-width: 1399px) {
    .nav-link {
        font-size: 19px !important;
    }
}

@media (max-width: 1200px) {
    .nav-link {
        font-size: 14px !important;
    }
}

@media (max-width: 991px) {
    .nav-link {
        font-size: 26px !important;
    }

    .point {
        font-size: 46px !important;
    }

    .bio-text {
        margin-top: 60px !important;
        text-align: center;
        padding: 10px;
        font-size: 22px !important;
    }

    .mobile-font-size {
        font-size: 20px !important;
    }
}
@media (max-width: 720px) {
    .address {
        font-size: 80% !important;
    }

    .address-text {
        font-size: 80% !important;
    }
}